include includes/_common.pug

doctype html
html
    head
        title Escritório de Advocacia Professor Diógenes da Cunha Lima - Natal/RN
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="icon", href="images/favicon.png")
        link(rel='stylesheet', href='styles/professor.css')
    body
        +header('professor')
        main
            .content
                h1 O Professor            
                .texto
                    p.
                        Perfeccionismo, dedicação e observância aos preceitos éticos são marcas da atuação do Professor Diógenes.
                        Com mais de 50 anos de experiência jurídica, tendo exercido também as funções de adjunto de Promotor de Justiça,
                        Procurador da Prefeitura Municipal de Natal, Consultor Geral do Estado, professor da Universidade Federal
                        do Rio Grande do Norte e, posteriormente, ocupado a Reitoria da mesma instituição, é a advocacia, até hoje, sua missão diária.
                    p.
                        Na direção do Escritório de Advocacia Professor Diógenes da Cunha Lima, referência no Estado,
                        cuida de cada causa como única, com competência e otimismo. Conciliando a advocacia e sua paixão por livros,
                        é conhecido também por extravagâncias em suas defesas, como citar Goethe e Shakespeare,
                        em uma verdadeira interseção de Direito e Literatura.
                    p.
                        É, enfim, como lhe chamam alguns amigos e clientes, “um homem múltiplo”,
                        que vê no Direito um instrumento social de convivência comunitária,
                        aprende algo novo todos os dias e emprega amor em tudo que faz.

                    .assinatura
                        strong Prof. Diógenes da Cunha Lima
                        small Fundador do Escritório
            .side-picture
                img(src="images/diogenes.jpg", alt="Professor Diógenes da Cunha Lima")
        
        +footer